<p>about works!</p>


<h3>Chao ban {{name}}</h3>
<h3>Ban has {{age}} tuoi</h3>


<h3>Posts</h3>
<!-- <div *ngFor='let post of posts'>
<span>Du lieu post lay ra : {{post|json}} </span>
</div> -->


<table id="customers">
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr *ngFor='let post of posts, let ind=index'>
        <td>{{ind}}</td>
        <td>{{post.title}}</td>
        <td>{{post.author}}</td>
      </tr>

</table>
<br>

<button (click)="addPost()">new post </button>
