<p>myform works!</p>

<div class="container">
<form  (ngSubmit)="onSubmit()" #heroForm="ngForm" >
<div formGroupName="address">
  <h2>Form Login</h2>
</div>
<div>
  <label for="name">Name </label>
  <input
    id="name"
    type="text"
    class="form-control"
    name="name"
    [(ngModel)]="name"
    required
  >
  <span *ngIf="name===''" class ="errorMessage"> Can phai nhap ten</span>
</div>
<div>
  <label for="pass">PassWord </label>
  <input
    id="pass"
    type="text"
    class="form-control"
    name="password"
    [(ngModel)]="pass"
  >
  <span *ngIf="pass===''" class ="errorMessage">Can nhap password</span>
</div>
<div>
  <label>Danh sach role</label>
  <select (change)="selectRole(roleTag.value)" #roleTag>
    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
  </select>
</div>
  <br>
  <div>
    <label>Danh sach role2</label>
    <select (change)="selectRole2($event)" >
      <option *ngFor="let role of roles" [value]="role">{{role}}</option>
    </select>
  </div>
<br>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!heroForm.form.valid">Submit</button>

</form>
</div>
